<app-header></app-header>
<div class="container-fluid">
    <div class="row">
      <div>
        <form>
  
          <br>
          <div class="card" style="padding: 50px;">
            <!-- <p style="text-align: center">
              <img class="circle" src="http://localhost:8080/admin/view/{{i.image}}" height="200px" width="200px">
            </p> -->
            <h2 class="card-title text-center" style="font-family: Cambria ">{{view[0].subject}}</h2>
            <div class="card-body">
              <h4 class="card-text text-center" style="font-family: Cambria">{{view[0].board}} </h4>
              <h5 class="card-text text-center" style="font-family: Cambria">{{view[0].class}} </h5>
              
              <h5 class="card-text text-center" style="font-family: Cambria">{{view[0].contents}} </h5>
              <h5 class="card-text text-center" style="font-family: Cambria">{{view[0].det}} </h5>
              <!-- <h6 class="card-text text-center"style="font-family: Cambria">price : ₹ </h6> -->

            </div>
          </div>
          <hr>
        </form>
      </div>
    </div>
  </div>
   