<h1>STUDY TIME</h1>

<form action="" class="was-validated">
    <div class="container">
    <div class="row">
        <div class="col">
                <div class="col-4 col-sm-4"></div>
                <div class="col-4 col-sm-4">
    <div class="form-group" >
            <label for="uname">Username:</label>
            <input type="text" class="form-control" [(ngModel)]="uname" placeholder="Enter username" name="uname" required>
            </div>
          <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" [(ngModel)]="pwd" placeholder="Enter password" name="pwd" required>
                </div>
            <div>
                <button type="submit" class="form-control" (click)="signin()">Login</button>
                <button type="submit" class="" (click)="signup()">Sign Up</button>
            </div>    
        </div>
  <div class="col-4 col-sm-4"></div>
        </div>
        </div>
    </div>
</form>